
.botaoSubmit {
    background-color: #392F5A;
    color: #F6F3FF;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    width: 298px;
    height: 44px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkPag {
    background-color: transparent;
    color: #392F5A;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;

    text-decoration: none;
}

.textoComum{
    color: #392F5A;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;

    display: flex;
    justify-content: left;
    align-items: center;
}

.textoDestaque{
    color: #392F5A;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bolder;

    display: flex;
    justify-content: left;
    align-items: center;
}

.textoTitulo{
    color: #392F5A;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;

    display: flex;
    justify-content: left;
    align-items: center;
}

.campoInput{
    border-radius: 12px;
    border: 2px solid #87D2C9;  
    width: 771px; 
    width: 100%;  
    padding: 12px 15px;
    font-family: sans-serif;
    font-size: 16px;
}

.campoInput[type="email"] {
    border-radius: 12px;
    border: 2px solid #87D2C9;  
    width: 771px; 
    width: 100%;  
    padding: 12px 15px;
    font-family: sans-serif;
    font-size: 16px;
  }

  .erro {
    color: #e74c3c;
    font-size: 12px;
    display: none;
  }

.divDeServicoCancelado{
    max-width: 771px; 
    max-height: 131px;
    border-radius: 12px;
    border: 2px solid #939393;
    padding: 12px 15px;


    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    gap: 4px;

}

.divDeServico{
    max-width: 771px; 
    max-height: 131px;
    border-radius: 12px;
    border: 2px solid #87D2C9;
    padding: 12px 15px;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    gap: 4px;

}

.divPrincipal
{
    width: 80%; 
    margin: 20px auto; 
    padding: 20px;
    background-color: white;
}

.divLogin{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 911px;
    height: 817px;
    border-radius: 16px;
    padding-top:20px;   
    padding-left: 70px;      
    padding-right: 70px;     
    margin-top: 70px; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divCadastro{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 911px;
    height: 877px;
    border-radius: 16px;
    padding-top:20px;   
    padding-left: 70px;      
    padding-right: 70px;      
    margin-top: 70px; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divMediaLoginCadastro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch; 
    width: 100%;

}



html, body {
    background-color: #FFF8F0;
    height: 100%; 
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;        
}

form{
    gap:8px;
    width: 100%;            
    display: flex;
    flex-direction: column;
}

p{
    font-family: sans-serif;
}


header {
    background-color: #FF8810;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    gap : 20px;
    padding-left: 10px;
}

main {
    padding: 40px 20px;
}


.bloco {
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  gap: 60px;              
  margin: 40px 0;
}

.divLanding{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.headerInterno{
    background-color: #FF8810;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    gap : 20px;
    padding-left: 10px;
}

.duplaBotoes{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    width: 100%;
    gap : 10px;
    padding-bottom: 10px;
}

.divAgendamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.duplaBotoesPaginasInternas {
    margin-left: auto; 
    display: flex;
    gap: 10px; 
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end;
    width: 80%;
    padding-bottom: 10px;
}


